<div class="col-sm-12 col-md-6 my-2">
    <div class="p-3 shadow item border rounded-3 m-2 h-100 d-flex flex-column justify-content-between">
        <div class="p-3">
            <h3><b>{{ project.title }}</b></h3>
            <div class="m-2 mt-0 p-1">{{ project.content|safe }}</div>
        </div>
        <div class="row">
            <button class="btn btn-primary col-md-6">View Source</button>
            <button class="btn btn-primary col-md-6">View Project</button>
        </div>
    </div>
</div>